<div class="page-container">
    <div class="login-container">
        <img class="syncee-logo" src="../../assets/syncee-logo-300px.png">
        <h1 class="title">Login</h1>
        <span class="co-title">See your growth and get consulting support!</span>
        <button  class="google-button" (click)="triggerChildClick()" mat-button><asl-google-signin-button type='icon' size='medium' #childButton></asl-google-signin-button>Sign in with Google</button>
    </div>
    <img class="wallpaper" src="../../assets/syncee_frontend_test_wallpaper.png">
</div>